name: 04 Using Actions

on:
    workflow_dispatch: {}

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
        run:
          working-directory: 04-using-actions/my-app
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20.x'
      - name: Install dependencies
        run: npm ci
    #   - name: Run unit tests 
    #     run: npm test
    # my-app doesn't have a test
