name: 05 - 1 - Event Filters and Activity Types

on:
    pull_request:
        branches:
            - master
        types: [opened, synchronize]
jobs:
    echo-job:
      runs-on: ubuntu-latest
      steps:
        - name: Echo PR event
          run: echo "Running whenever a PR is opened or synchronized AND base branch is main"